/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**/

@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/tw-r.ttf') format('truetype');
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Titillium Web !important;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    font-weight: bold;
}

h4 {
    font-size: 24px;
    font-weight: bold;
}

h5 {
    font-size: 20px;
    font-weight: bold;
}

h6 {
    font-size: 16px;
    font-weight: bold;
}

.light-theme {
    color: #000;
    background: #fff;
}

.btn {
    border: none;
    background: #fff;
    padding: 10px;
    display: inline-block;
    min-width: 100px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.btn:focus,
.btn:hover,
.btn:active {
    text-decoration: none;
}

.page-wrapper {
    width: 100%;
    height: auto;
    display: block;
    padding: 3rem;
}

.page-name {
    font-weight: bold;
    margin-left: 0.5rem;
}

.card-wrapper {
    margin: 1rem 0;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.card {
    -ms-flex-item-align: start;
    align-self: flex-start;
    color: #fff;
    margin: 0.5rem;
    padding: 1rem;
    width: 300px;
    min-height: 300px;
    font-size: 20px;
    line-height: 1.5;
}

.about-card {
    background-color: forestgreen;
}

.about-card.two {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.dev-name {
    font-size: 48px;
    font-weight: bold;
}

.dev-title {
    font-size: 16px;
}

.dev-subtitle {
    font-size: 20px;
    margin-top: 2rem;
}

.resume-link {
    margin-top: 1rem;
}

.btn-about {
    color: forestgreen;
}

.skill-card {
    background-color: rebeccapurple;
}

.skill-card.one,
.skill-card.four,
.skill-card.five {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.skill-category {
    margin-bottom: 1rem;
}

.work-card {
    background-color: #1d4c99;
}

.work-card.two,
.work-card.four {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.work-project {
    margin-bottom: 1rem;
}

.project-desc {
    margin-bottom: 1rem;
}

.btn-work {
    color: #1d4c99;
}

.exp-card {
    background-color: firebrick;
}

.exp-card.one {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.exp-name {
    margin-bottom: 1rem;
}

.contact-card {
    background-color: #191919;
}

.contact-card.two,
.contact-card.four,
.contact-card.six,
.contact-card.seven,
.contact-card.eight {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.contact-name {
    margin-bottom: 1rem;
}

.contact-desc {
    margin-bottom: 1rem;
}

.btn-contact {
    color: #191919;
}

.portfolio-image {
    width: 150px;
    height: 150px;
    border: 1px solid transparent;
    border-radius: 10px;
}

/* dark mode */

.color-mode-wrapper {
    box-shadow: 0 20px 50px rgba(175, 172, 172, 0.7);
    position: absolute;
    width: 30px;
    height: 30px;
    position: absolute;
    display: inline-block;
    right: 1rem;
    top: 1rem;
    border-radius: 50%;
}

.moon {
    position: absolute;
    width: 30px;
    height: 30px;
    position: absolute;
    display: inline-block;
    background: #333;
    border-radius: 50%;
    border: 5px solid #333;
    box-shadow: inset 0px 7px #fff, inset 0px 10px 0px -5px #fff;
    -moz-box-shadow: inset 0px 7px #fff, inset 0px 10px 0px -5px #fff;
    transform: rotate(-135deg);
}

.color-mode-checkbox {
    position: absolute;
    width: 30px;
    height: 30px;
    position: absolute;
    display: inline-block;
    background: #333;
    right: 1rem;
    top: 1rem;
    opacity: 0;
    cursor: pointer;
}

.color-mode-checkbox:checked ~ .page-wrapper {
    background-color: #333;
    color: #fff;
    transition: 0.2s ease-out;
}

.color-mode-checkbox:not(:checked) ~ .page-wrapper {
    background-color: #fff;
    color: #000;
    transition: 0.2s ease-out;
}

@media (min-width:768px) and (max-width:1024px) {
    .page-wrapper {
        padding: 1rem;
    }

    .card {
        width: 100%;
    }
}

@media (min-width:481px) and (max-width:767px) {
    .page-wrapper {
        padding: 0.5rem;
    }

    .card {
        width: 100%;
    }
}

@media (min-width:320px) and (max-width:480px) {
    .page-wrapper {
        padding: 0.5rem;
    }

    .card {
        width: 100%;
    }
}
